# URL do seu backend no Render.com
# Exemplo: https://kitchen-inventory-api.onrender.com
REACT_APP_BACKEND_URL=https://SEU-BACKEND.onrender.com

# Não mude estas linhas
WDS_SOCKET_PORT=443
ENABLE_HEALTH_CHECK=false
